.card{
    display:flex;
    flex-direction: column;
    margin:10px;
    box-shadow:1px 1px 10px rgba(0,0,0,0.4);
    max-height:300px;
}
.card img{
   max-width:100%;
}
.card > div{
    font-size: 2em;
    padding:10px;
}
.card > form{
    width: 100%;
    padding:10px;
}
.card > form > button{
    margin-right: 5px;
}