.container{
    display: grid;
    position: relative;
    margin: 10px 0 10px 0;
    width: 100%;
    max-width: 100%;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    justify-content: center;
}