<div class="container">
  <app-card *ngFor="let product of products" [product]="product"></app-card>

  <!-- <app-card url="https://images.unsplash.com/photo-1495553113139-7ee31c2cafac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"></app-card>
  <app-card url="https://images.unsplash.com/photo-1524772128034-3ecf9a73cbe9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card url=""></app-card> -->
</div>